
.family>p{
	margin: 0 1em 0 0;
}
.family>div{
	padding-left: 1em;
}
p{
	margin: 0;
}
.column{
	float: left;
	width: 25%;
}
dt, dd {
	display: inline-block,
}
.namecard{
	border: 1px solid black;
	padding: 1em;
	margin: 2px;
	min-width: 20em;
	float: left;
	background-color: rgb(247, 255, 226);
}
td:nth-child(1){
	font-weight: bold;
	padding-right: 1em;
}
td:nth-child(1)::after{
	content: ":";
}
.namecard .buttons{
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.namecard .buttons span{
	border: solid black 1px;
	padding: 2px 4px;
	border-radius: 4px;
	display: inline-block;
	background-color: white;
}
.namecard .buttons span:hover{
	background-color: #eee;
}
.namecard .buttons span:active{
	background-color: #ddd;
}
.namecard .name{
	font-size: 2em;
}

.namecard .buttons span.marked {
	background-color: rgb(195, 235, 195);
}

.namecard .buttons span.marked:hover {
	background-color: green;
}

.namecard.male {
	background-color: rgb(234, 234, 252);
}
.namecard.female {
	background-color: rgb(255, 226, 226);
}

input[type=number] {
	width: 3em;
}

label>*{
	vertical-align: middle;
}

input[type=radio] {
	margin-bottom: 5px;
}