

		
html{
	background-color: rgb(201, 209, 216);
}

body {
	/*font-size: 200%;*/
}

#wordPanel {
	text-align: center;
}

.button {
	border: solid black 1px;
	padding: .2em .4em;
	margin: .2em 0;
	border-radius: .4em;
	display: inline-block;
	background-color: white;
	cursor: pointer;
}
.button:hover{
	background-color: #eee;
}
.button:active{
	background-color: #ddd;
}
.button.selected{
	background-color: green;
}


p{
	margin: 0;
}

.namecard{
	border: 1px solid black;
	padding: 1em;
	margin: .2em;
	min-width: 20em;
	background-color: rgb(247, 255, 226);
	display: inline-block;
}
.namecard .buttons{
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.namecard .buttons span{
	border: solid black 1px;
	padding: .2em .4em;
	border-radius: .4em;
	display: inline-block;
	background-color: white;
}
.namecard .buttons span:hover{
	background-color: #eee;
}
.namecard .buttons span:active{
	background-color: #ddd;
}
.namecard .name{
	font-size: 2em;
}

.namecard .buttons span.marked {
	background-color: rgb(195, 235, 195);
}

.namecard .buttons span.marked:hover {
	background-color: green;
}

.namecard.male {
	background-color: rgb(234, 234, 252);
}
.namecard.female {
	background-color: rgb(255, 226, 226);
}

